
.allspan{
    background-color:#F5F5F5;
    text-align: center;
}
.design1 {
    background-color: #CC0000;
    color: #F5F5F5;
    /* background-color:#F5F5F5;
    color: #383838; */
    letter-spacing: 2px;
    font-family: 'Inconsolata';
    font-size: 100px;
    font-weight: 450;
    white-space: nowrap;
    word-spacing: 0px;
}

.stretched-text {
    /* letter-spacing: 2px; */
    display: inline-block;
    /* font-size: 32px; */
    transform: scaleY(0.8);
    transform-origin: 0 0;
    margin-bottom: -50%;
    word-spacing: 0px;
  }


  .afont{
    font-size: 100px;
    -webkit-transform:translateX(100%) translateY(75%) rotate(-180deg)scaleY(0.8);
    transform: translateX(95%) translateY(82%) rotate(-180deg) scaleY(0.81);
    word-spacing: 0px;
  }


.allspanr{
    background-color:#383838;
    text-align: center;
}
.designr {
    background-color:#EF0107;
    color: #43464B;
    
    /* background-color:#383838;
    color: #F5F5F5; */
    letter-spacing: 2px;
    font-family: 'Inconsolata';
    font-size: 100px;
    font-weight: 450;
    white-space: nowrap;
    word-spacing: 0px;
}