<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/design1.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Cormorant+Garamond' rel='stylesheet'>
<title>Mallik - Design 1</title>

<h1>DESIGN - 1.2</h1>
<div class="row">
    <div class="column" style = "background-color:{{color['bg_color']}}; color: {{color['f_color']}};">
        <h2>Top</h2>

        <form method="POST">
            <label for="l_bg_clr">Background color:</label><br>
            <input name="l_bg_clr">
            <label for="l_f_clr">Font color:</label><br>
            <input name="l_f_clr">
            <input type="submit">
        </form>

        <p class = "allspan">
    
            <span class = "design1 stretched-text">P</span>
            <span class = "design1 stretched-text">V</span>
            <span class = "design1 stretched-text">R</span>
            <span class = "design1 stretched-text">A</span>
            <span class = "design1 stretched-text">O</span>
        </p>
    
        <div class = "shape-rect-p" style = "background-color:{{color['bg_color']}};">
    
        </div>
    
        <div class = "shape-rect-r" style = "background-color:{{color['bg_color']}};">
        </div>
        
    
        <div class = "arrow-up" style = "border-bottom: 24px solid {{color['bg_color']}};">
        </div>
    </div>
    <h2>Right</h2>


    <p class = "allspan">

        <span class = "design1 stretched-text ">P</span>
        <span class = "design1 stretched-text">V</span>
        <span class = "design1 stretched-text">R</span>
        <span class = "design1 stretched-text ">A</span>
        <span class = "design1 stretched-text">O</span>
    </p>

    <div class = "shape-rect-p">

    </div>

    <div class = "shape-rect-r">
    </div>
    

    <div class = "arrow-up">
    </div>
    <div class="column">


    </div>
  </div>



</head>