<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Cormorant+Garamond' rel='stylesheet'>
<title>Mallik</title>
</head>
<body>

    <script>
        function myFunction() {
          document.getElementById("myDIV").style.msTransform = "rotate(20deg)"; // IE9 
          document.getElementById("myDIV").style.transform = "rotate(20deg)"; 
        }
        </script>

<h1> DESIGN - 1</h1>
<p class="design1 stretched-text" >PVRAO</p>
<br>

<p class="design1 stretched-text">P</p>
<p class="design1 stretched-text vfont">V</p>
<p class="design1 stretched-text">R</p>
<p class="design1 stretched-text afont">V</p>
<p class="design1 stretched-text ofont">O</p>

<br>

<!-- <p class="design1 stretched-text">P</p><p class="design1 stretched-text vfont">V</p><p class="design1 stretched-text">R</p><p class="design1 stretched-text afont">V</p><p class="design1 stretched-text">O</p>
<br>
<p class="design1 stretched-text"> </p><p class="design1 stretched-text vfont"> </p><p class="design1 stretched-text">R</p><p class="design1 stretched-text afont">V</p><p class="design1 stretched-text"> </p> -->
<h1> DESIGN - 2</h1>
<!-- <p class="design2 stretched-text">PVRAO</p> -->

<p class="design1 stretched-text">P</p>
<p class="design1 stretched-text vfont">V</p>
<p class="design1 stretched-text">R</p>
<p class="design1 stretched-text afont">V</p>
<p class="design1 stretched-text ofont">O</p>

<h1> DESIGN - 3</h1>
<p class="design3">PVRAO</p>

<!-- <div class="start">
    <span>v</span>
    <span>i</span>
    <span>v</span>
    <span>e</span>
    <span>k</span>
</div> -->

</body>
</html>


<h1> DESIGN - 4</h1>
<p class="design4 stretched-text bshade">P</p>
<p class="design4 stretched-text bshade vfont">V</p>
<p class="design4 stretched-text wshade">R</p>
<p class="design4 stretched-text wshade afont">V</p>
<p class="design4 stretched-text wshade">O</p>
<br>
<p class="design4 stretched-text">P</p>
<p class="design4 stretched-text vfont">V</p>
<p class="design4 stretched-text">R</p>
<p class="design4 stretched-text afont">V</p>
<p class="design4 stretched-text">O</p>

<br>